body {
font-family: 'Montserrat', sans-serif;
/* background-color: #0b0d17; */
background-color: #1D3C6A;
color: #2C3E50;
}


/* Navbar */
.navbar {
background-color: #F4F6F9;
/* background-color: transparent !important; */
transition: background-color 0.3s ease;

}

.navbar-brand {
font-weight: 700;
letter-spacing: 2px;
color: #2C3E50;
}

.navbar-brand img {
  height: 50px;
  width: auto;
  object-fit: contain;
}

.navbar .nav-link {
color: #2C3E50 !important;
}

/* Hero Section */
.hero {
min-height: 100vh;
background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.9)),
url('./images/office-photo.jpg') center/cover no-repeat;
display: flex;
align-items: center;
}


.hero h1 {
font-size: 3rem;
font-weight: 700;
}


.hero p {
max-width: 600px;
opacity: 0.9;
}


/* Section Title */
.section-title {
text-transform: uppercase;
letter-spacing: 3px;
font-size: 0.9rem;
color: #9aa0ff;
}


/* Cards */
.service-card {
background-color: #11142a;
border: none;
transition: transform 0.3s ease;
}


.service-card:hover {
transform: translateY(-8px);
}


/* Footer */
footer {
background-color: #05060f;
font-size: 0.9rem;
}

/* Color */
.bg-offwhite {
background-color: #f1f1f1 !important;
}
.bg-navy {
background-color: #0b0d17 !important;
}
.bg-light {
  background-color: #F4F6F9;
}


/* Light Mode Styles */
body.light-mode {
  background-color: #f5f5f5;
  color: #111;
}

body.light-mode .navbar {
  background-color: rgba(255, 255, 255, 0.9) !important;
}

body.light-mode .navbar .nav-link{
  color: #111 !important;
}

body.light-mode .hero {
  background: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.9)),
              url('https://images.unsplash.com/photo-1457369804613-52c61a468e7d') center/cover no-repeat;
  color: #111;
}

body.light-mode .service-card {
  background-color: #ffffff;
  color: #111;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}

body.light-mode footer {
  background-color: #eaeaea;
  color: #111;
}
